<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <center><a href="{% url 'one:animals' %}">GO TO ANIMALS PAGE</a></center>
        <center><a href="{% url 'fishes' %}">GO TO FISHES PAGE</a></center>
        <center><a href="{% url 'reptils' %}">GO TO REPTILS PAGE</a></center>
        <center><h1>this is html page of birds</h1></center>
   
</body>
</html>